---
layout: default
---

{% include base_path %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main" class="has-both-rails">

  <!-- LEFT: scroll-tracking TOC (populated by reading.js) -->
  <aside class="site-left-rail" aria-label="Table of contents">
    <nav class="toc">
      <header><h4 class="nav__title">
        <i class="fa fa-file-alt" aria-hidden="true"></i> On This Page
      </h4></header>
      <ul class="toc__menu" id="toc-menu"></ul>
    </nav>
  </aside>

  <!-- CENTER: CV content -->
  <div class="site-content">
    <section class="page__content" id="reading-content">
      {{ content }}
    </section>
  </div><!-- /.site-content -->

  <!-- RIGHT: persistent utility panel -->
  <aside class="site-right-rail" aria-label="Page utilities">
    {% include utility-rail.html %}
  </aside>

</div>

<script type="module" src="{{ base_path }}/assets/js/reading.js"></script>
